.digi-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: digivolve;
    grid-column-start: 2;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 85%, 15%;
}

#prev {
    grid-column-start: 1;
    grid-row-start: 1;
}

h1 {
    text-align: center;
    font-family: digivolve;
    font-size: 5rem;
}

@font-face {
    font-family: digivolve;
    src:url(digiFont.otf);
}

/* body {
    background: linear-gradient(white, orange)
} */